.reveal section .plain img {
    border: 0;
    box-shadow: none;
}

.reveal .slides section {
    padding: 0;
}

.imageblock.right {
    float: right;
}

.reveal .imageblock img {
    border-width: inherit;
    box-shadow: inherit;
    background: inherit;
}

.reveal pre {
    width: 100%;
    box-shadow: inherit;
}

.reveal pre code {
    /* display: block; */
    /* padding: 5px; */
    /* overflow: auto; */
    max-height: 30em;
    /* word-wrap: normal; */
}

.reveal blockquote {
    width: 90%;
}

div.smaller {
    font-size: 50%;
    line-height: normal;
}

.twocol ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    list-style-position: outside;
}

.license {
    font-size: 0.5em;
    line-height: normal;
}


/****************************
 *
 * Source code formatting
 *
 ****************************/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
    color: #8be9fd;
}

.hljs-keyword {
    color: #ff79c6;
}

.hljs {
    color: #f8f8f2;
}

.hljs-subst {
    color: #48ff42;
}

.hljs-title {
    color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-literal,
.hljs-number {
    color: #bd93f9;
}

.hljs-emphasis {
    font-style: italic;
}
